<!doctype html>
<title>Murder Generator v0.0.1</title>
<p><i>Aperte F5 (ou refresh) para gerar parâmetros</i></p>
<p>Victim: {{ victim }}</p>
<p>How? {{ how }}</p>
<p>Why? {{ why }}</p>
<p>Where? {{ where }}</p>
<p>Address: {{ address }}</p>
<p>When? {{ when }}</p>
<p>Who? {{ whoa }}, {{ whob }}</p>
</br>
<p>Suspects</p>
<p>{{suspecta}}</p>
<p>{{suspectb}}</p>
<p>{{suspectc}}</p>
<p>{{suspectd}}</p>
<p>{{suspecte}}</p>
<p>{{suspectf}}</p>
<p>{{suspectg}}</p>

<p><i>Murder Generator - v0.0.1 em desenvolvimento por deathtrapp.inc® </i></p>
