<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Murder Generator v. 0.0.3</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/scrolling-nav.css" rel="stylesheet">

    <style type="text/css">
      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 30px;
      }
      #footer {
        background-color: #f5f5f5;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <a target="_blank" href="https://github.com/shuanz/murdergenerator"> <img src = "/static/img/github-icon.png" width="50" height="50" align="right" class = "img-thumbnail"> </a>
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand page-scroll" href="#page-top">Murder Generator</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav">
                  <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                  <li class="hidden">
                      <a class="page-scroll" href="#page-top"></a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#page-top">The Case</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#about">Victim</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#services">Guilty</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#contact">Suspects</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>

  <!-- Case Section -->
  <section id="intro" class="intro-section">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <h1>The Case</h1>
                  <p><strong>Victim: </strong>{{ victim["name"] }}</p>
                  <p><strong>Guilty: </strong>{{ guilty["name"] }}</p>
                  <p><strong>How: </strong>{{ case['how'] }}</p>
                  <p><strong>Why: </strong>{{ case['why']  }}</p>
                  <p><strong>When: </strong>{{ case['when'] }}</p>
                  <p><strong>Where: </strong>{{ case['address'] }}</p>
                  <br>
                  <a class="btn btn-default page-scroll" onClick="window.location.reload()">Create murder case</a>
              </div>
          </div>
      </div>
  </section>

  <!-- Victim Section -->
  <section id="about" class="about-section">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                <h1>Victim</h1>
                <p><strong>Name: </strong>{{ victim["name"] }}</p>
                <p><strong>Profession: </strong>{{ victim['job'] }}</p>
                <p><strong>Height: </strong>{{ victim['height'] }}</p>
                <p><strong>Weight: </strong>{{ victim['weight'] }}</p>
                <p><strong>Skin Tone: </strong>{{ victim['tone'] }}</p>
                <p><strong>Eye Color: </strong>{{ victim['eyecolors'] }}</p>
                <p><strong>Hair Length: </strong>{{ victim['hairlengths'] }}</p>
                <p><strong>Hair Color: </strong>{{ victim['haircolors'] }}</p>
                <p><strong>Hair Types: </strong>{{ victim['hairtypes'] }}</p>
                <p><strong>Face Hair: </strong>{{ victim['facehairs'] }}</p>
                <p><strong>Clothings: </strong>{{ victim['clothings'] }}</p>
              </div>
          </div>
      </div>
  </section>

  <!-- Guilty Section -->
  <section id="services" class="services-section">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                <h1>Guilty</h1>
                <p><strong>Name: </strong>{{ guilty["name"] }}</p>
                <p><strong>Profession: </strong>{{ guilty["job"] }}</p>
                <p><strong>Relation with the victim: </strong>{{ guilty["relation"] }}</p>
                <p><strong>Height: </strong>{{ guilty['height'] }}</p>
                <p><strong>Weight: </strong>{{ guilty['weight'] }}</p>
                <p><strong>Skin Tone: </strong>{{ guilty['tone'] }}</p>
                <p><strong>Eye Color: </strong>{{ guilty['eyecolors'] }}</p>
                <p><strong>Hair Length: </strong>{{ guilty['hairlengths'] }}</p>
                <p><strong>Hair Color: </strong>{{ guilty['haircolors'] }}</p>
                <p><strong>Hair Types: </strong>{{ guilty['hairtypes'] }}</p>
                <p><strong>Face Hair: </strong>{{ guilty['facehairs'] }}</p>
                <p><strong>Clothings: </strong>{{ guilty['clothings'] }}</p>
              </div>
          </div>
      </div>
  </section>

  <!-- Suspect Section -->
  <section id="contact" class="contact-section">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <h1>Suspects</h1>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Profession</th>
                        <th>Relation</th>
                        <!--
                        <th>Height</h>
                        <th>Weight</h>
                        <th>Skin Tone</h>
                        <th>Eye Colors</h>
                        <th>Hair Lengths</h>
                        <th>Hair Colors</h>
                        <th>Hair Types</h>
                        <th>Clothings</h>
                        <th>Face Hair</h>
                        !-->
                      </tr>
                    </thead>
                    <tbody>
                      <tr align="left">
                        <td>{{suspecta["name"]}}</td>
                        <td>{{suspecta["job"]}}</td>
                        <td>{{suspecta["relation"]}}</td><!--
                        <td>{{suspecta["height"]}}</td>
                        <td>{{suspecta["weight"]}}</td>
                        <td>{{suspecta["tone"]}}</td>
                        <td>{{suspecta["eyecolors"]}}</td>
                        <td>{{suspecta["hairlengths"]}}</td>
                        <td>{{suspecta["haircolors"]}}</td>
                        <td>{{suspecta["hairtypes"]}}</td>
                        <td>{{suspecta["clothings"]}}</td>
                        <td>{{suspecta["facehairs"]}}</td>!-->
                      </tr>
                      <tr align="left">
                        <td>{{suspectb["name"]}}</td>
                        <td>{{suspectb["job"]}}</td>
                        <td>{{suspectb["relation"]}}</td><!--
                        <td>{{suspectb["height"]}}</td>
                        <td>{{suspectb["weight"]}}</td>
                        <td>{{suspectb["tone"]}}</td>
                        <td>{{suspectb["eyecolors"]}}</td>
                        <td>{{suspectb["hairlengths"]}}</td>
                        <td>{{suspectb["haircolors"]}}</td>
                        <td>{{suspectb["hairtypes"]}}</td>
                        <td>{{suspectb["clothings"]}}</td>
                        <td>{{suspectb["facehairs"]}}</td>!-->
                      </tr>
                      <tr align="left">
                        <td>{{suspectc["name"]}}</td>
                        <td>{{suspectc["job"]}}</td>
                        <td>{{suspectc["relation"]}}</td><!--
                        <td>{{suspectc["height"]}}</td>
                        <td>{{suspectc["weight"]}}</td>
                        <td>{{suspectc["tone"]}}</td>
                        <td>{{suspectc["eyecolors"]}}</td>
                        <td>{{suspectc["hairlengths"]}}</td>
                        <td>{{suspectc["haircolors"]}}</td>
                        <td>{{suspectc["hairtypes"]}}</td>
                        <td>{{suspectc["clothings"]}}</td>
                        <td>{{suspectc["facehairs"]}}</td>!-->
                      </tr>
                      <tr align="left">
                        <td>{{suspectd["name"]}}</td>
                        <td>{{suspectd["job"]}}</td>
                        <td>{{suspectd["relation"]}}</td><!--
                        <td>{{suspectd["height"]}}</td>
                        <td>{{suspectd["weight"]}}</td>
                        <td>{{suspectd["tone"]}}</td>
                        <td>{{suspectd["eyecolors"]}}</td>
                        <td>{{suspectd["hairlengths"]}}</td>
                        <td>{{suspectd["haircolors"]}}</td>
                        <td>{{suspectd["hairtypes"]}}</td>
                        <td>{{suspectd["clothings"]}}</td>
                        <td>{{suspectd["facehairs"]}}</td>!-->
                      </tr>
                      <tr align="left">
                        <td>{{suspecte["name"]}}</td>
                        <td>{{suspecte["job"]}}</td>
                        <td>{{suspecte["relation"]}}</td><!--
                        <td>{{suspecte["height"]}}</td>
                        <td>{{suspecte["weight"]}}</td>
                        <td>{{suspecte["tone"]}}</td>
                        <td>{{suspecte["eyecolors"]}}</td>
                        <td>{{suspecte["hairlengths"]}}</td>
                        <td>{{suspecte["haircolors"]}}</td>
                        <td>{{suspecte["hairtypes"]}}</td>
                        <td>{{suspecte["clothings"]}}</td>
                        <td>{{suspecte["facehairs"]}}</td>!-->
                      </tr>
                      <tr align="left">
                        <td>{{suspectf["name"]}}</td>
                        <td>{{suspectf["job"]}}</td>
                        <td>{{suspectf["relation"]}}</td><!--
                        <td>{{suspectf["height"]}}</td>
                        <td>{{suspectf["weight"]}}</td>
                        <td>{{suspectf["tone"]}}</td>
                        <td>{{suspectf["eyecolors"]}}</td>
                        <td>{{suspectf["hairlengths"]}}</td>
                        <td>{{suspectf["haircolors"]}}</td>
                        <td>{{suspectf["hairtypes"]}}</td>
                        <td>{{suspectf["clothings"]}}</td>
                        <td>{{suspectf["facehairs"]}}</td>!-->
                      </tr>
                      <tr align="left">
                        <td>{{suspectg["name"]}}</td>
                        <td>{{suspectg["job"]}}</td>
                        <td>{{suspectg["relation"]}}</td><!--
                        <td>{{suspecta["height"]}}</td>
                        <td>{{suspecta["weight"]}}</td>
                        <td>{{suspecta["tone"]}}</td>
                        <td>{{suspecta["eyecolors"]}}</td>
                        <td>{{suspecta["hairlengths"]}}</td>
                        <td>{{suspecta["haircolors"]}}</td>
                        <td>{{suspecta["hairtypes"]}}</td>
                        <td>{{suspecta["clothings"]}}</td>
                        <td>{{suspecta["facehairs"]}}</td>!-->
                      </tr>
                    </tbody>
                  </table>
              </div>
          </div>
      </div>
  </section>

  <!-- jQuery -->
  <script src="/static/js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/static/js/bootstrap.min.js"></script>

  <!-- Scrolling Nav JavaScript -->
  <script src="/static/js/jquery.easing.min.js"></script>
  <script src="/static/js/scrolling-nav.js"></script>

  <div id="footer" class="navbar-fixed-bottom">
    <div class="container">
      <p class="muted credit" align="center">Murder Generator v. 0.0.3 - Developed by <a href="mailto:shuanz@gmail.com">Shuanz</a>
      </p>
    </div>
  </div>

</body>
</html>
